# ignore .idea folder
.idea/
# ignore .DS_Store file
.DS_Store
# ignore .pyc files
*.pyc
# ignore __pycache__ folder
__pycache__/
# ignore .vscode folder
.vscode/
# ignore .pytest_cache folder
.pytest_cache/
# ignore .coverage file
.coverage

# ignore .gitignore file
.gitignore

# files not related to simulation
animation.py
data.txt
main.py
test/test1.txt
test/test2.txt